body {
	font-family: Arial, sans-serif;
	font-size: 100%;
	margin: 0;
}

.result_output {
background-color: #fff;
height: 578px;
width: 100%;
}

.code_input {
height: 578px;
width: 100%;
}

.maintable {
background-color: #c0c0c0;
border: 1px solid #c0c0c0;
}

.result_header {
color: #808000;
margin: 10px 0;
}

.copy {
	text-align: center;
	color: #00f;
}